.Container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 40px;
	margin-right: 80px;
	text-align: center;
}

.Container > div {
	width: 50%;
}

h3 {
	font-family: Gabriola;
	font-size: 38px;
	margin-top: 0px;
	margin-bottom: 10px;
}