.NavigationMenu {
    background: rgb(192,18,200);
    background: linear-gradient(90deg, rgba(192,18,200,1) 30%, rgba(0,212,255,1) 100%);
  }
  
  .NavigationMenu ul {
    margin: 0;
    display: grid;
    /*Subdividing the screen width into pieces to fit buttons*/
    grid-template-columns: 0.5fr 0.8fr 1fr 0.85fr 2fr 3fr 2fr;
    list-style: none;
    padding: 4px;
  }
  
  .NavigationMenu img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  
  .menuItem {
    color: white;
    font-size: 1.2em;
    padding-top: 8px;
    padding-left: 8px;
    text-decoration: none;
    text-align: left;
  }